{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>忘记密码|动漫推荐系统</title>
    {% include 'public/css.html' %}
    {% include 'public/js.html' %}
</head>
<body style="background: url({% static 'photo/userLoginl.jpg' %}) repeat;background-size: cover;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5" style="margin-top: 4%; margin-bottom: 4%;">
            <div class="card text-center login">
                <div class="card-header">
                    <a href="/">动漫推荐系统&nbsp;·&nbsp;忘记密码</a>
                </div>
                <div class="card-body mt-3">
                    <form action="doForgetPassword" method="post" id="form" class="px-4">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="form-control login-input" type="text"
                                       name="uname" placeholder="请输入用户名" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="form-control login-input" type="text" id="phone"
                                       name="phone" placeholder="请输入电话" maxlength="11"
                                       oninput="value=value.replace(/[^\d]/g,'')">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="form-control login-input" type="text"
                                       id="mailbox" name="mailbox" placeholder="请输入邮箱" maxlength="50">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label text-right">
                                <a href="/login">用户登录</a>
                                &nbsp;&nbsp;/&nbsp;&nbsp;
                                <a href="/register">用户注册</a>
                            </label>
                        </div>
                        <div class="form-group row justify-content-center mt-2">
                            <div class="col-12" align="center">
                                <button type="button" id="submitBtn" class="btn login-btn">提&nbsp;&nbsp;交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        //重置
        $("#submitBtn").click(function () {
            var temp = true;
            $("#form").find("input").each(
                function () {
                    if ($(this).val().trim() == null || $(this).val().trim() == "") {
                        temp = false;
                        return false;
                    }
                });
            if (!temp) {
                layer.msg("信息不能为空！");
                return false;
            }
            // 设置正则表达式的手机号码格式 规则 ^起点 $终点 1第一位数是必为1  [3-9]第二位数可取3-9的数字  \d{9} 匹配9位数字
            var phoneReg = /^1[3-9]\d{9}$/;
            if (!phoneReg.test($("#phone").val())) {
                layer.msg("电话格式不正确！");
                return false;
            }
            // 对电子邮件的验证
            var mailboxreg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
            if (!mailboxreg.test($("#mailbox").val())) {
                layer.msg("邮箱格式不正确！");
                return false;
            }
            jqueryAjaxTimeout = 2000;//修改提示时间
            jqueryAjaxFun($("#form").attr("action"), $("#form").serialize());
        });
    });
</script>
</html>