<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>密码安全|动漫推荐系统</title>
    {% include 'public/css.html' %}
    {% include 'public/js.html' %}
</head>
<body>
<div class="container">
    {% include 'public/head.html' %}
    {% include 'public/banner.html' %}
    <div class="my-3 content-title">
        <div>
            <h5 class="mb-0">
                <i class="bi-arrow-right-square"></i>
                &nbsp;密码安全
            </h5>
        </div>
    </div>
    <div class="row">
        {% include 'public/menu.html' %}
        <div class="col-9">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                            <form action="user/doUpdatePassword" method="post" id="form">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">旧密码：</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control"
                                               name="oldPassword" maxlength="30">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">新密码：</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="newPassword"
                                               name="newPassword" maxlength="30">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">确认密码：</label>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" id="passwordConf"
                                               name="passwordConf" maxlength="30">
                                    </div>
                                </div>
                            </form>
                            <a href="javascript:doUpdatePassword()" class="btn btn-primary">提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'public/foot.html' %}
</div>
</body>
<script>
    //修改密码
    function doUpdatePassword() {
        var temp = true;
        $("#form").find("input[type='password']").each(function () {
            if ($(this).val().trim() == null || $(this).val().trim() == "") {
                temp = false;
                return false;
            }
        });
        if (!temp) {
            layer.msg("数据不能为空！");
            return false;
        }
        if ($("#newPassword").val().trim() != $("#passwordConf").val().trim()) {
            layer.msg("两次新密码不相同！");
            return false;
        }
        jqueryAjaxFun($("#form").attr("action"), $("#form").serialize());
    }
</script>
</html>